# python cache
__pycache__/
*.py[cod]
*$py.class

# too large to store
models/*.zip
checkpoints/*.zip
logs/*
tank_tensorboard/
tank_recordings/*.mp4
*.mp4

# keep folder structure
!models/.gitkeep
!checkpoints/.gitkeep
!logs/.gitkeep
!tank_recordings/.gitkeep

# os stuff
.DS_Store
*.swp

# ide
.vscode/